// ./_variables.scss

// TABLE DES MATIÈRES
// 1. MODULE GRID
// 2. COLORS
// 3. TYPOGRAPHY

//------------------------------------------------
// 1. MODULE GRID
$gapH: 1em; // Gouttière Horizontale
$gapV: 1em; // Gouttière Verticale


// 2. COLORS
$color_primary: #18BFEF;
$color_secondary: #F6F6F6;
$color_neutral: #999;



// 3. TYPOGRAPHY 
$typography_font_1: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$typography_font_2: Verdana, Geneva, Tahoma, sans-serif;
$typography_color: $color_neutral;
$typography_font_size: 1.2em;