// ./modules/_grid.scss 
// MODULES DE GRILLE RESPONSIVE

$gapH: 1em; // Gouttière Horizontale
$gapV: 1em; // Gouttière Verticale


// GRID SYSTEM 12 colonnes
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $gapV $gapH;
    &.grid-no-gap {
       gap: 0 0;
    }
    > * {
        grid-column: span 12;
        grid-row: span 1;
    }
}

@each $label, $breakpoint, $containerWidth in $gridValues {
    @media screen and (min-width:#{$breakpoint}) {
        .container {
            width: #{$containerWidth};
            margin: 0 auto;
            padding: 0 1rem;
        }
        @for $i from 1 through 12 {
            .col#{$label}-#{$i} {
                grid-column: span + ' ' + #{$i};
            }
            .row#{$label}-#{$i} {
                grid-row: span + ' ' + #{$i};
            }
            @for $j from 0 to 11 {
                .offset#{$label}-#{$j}.col#{label}-#{$i} {
                    grid-column: #{$j+1} / span + ' ' + #{$i};
                }
            }
        }
    }    
}

