@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

// ---------- FONTS VARIABLES ----------------------

    // _____________ PARAGRAPHS _______________

        $font-1: 'Merriweather', serif;
        $font-color-default: $color-text;
        $font-size-default: 1.1em;
        $font-weight-default: 300;
        $line-height-default: 1.65;

    // _____________ TITLES _______________

        $font-2: 'Source Sans Pro', sans-serif;

        $font-color-h1: $color-text;
        $font-size-h1: 2.5rem;
        $font-weight-h1: 300;
        $line-height-h1: 1.2;
        $margin-h1: 0 0 0 .7rem 0;
        $letter-spacing-h1: -.025rem;

        $font-color-h2: $color-text;
        $font-size-h2: 1.5rem;
        $font-weight-h2: 300;
        $line-height-h2: 1.5;
        $margin-h2: 0 0 0 .7rem 0;
        $letter-spacing-h2: -.025rem;

        $font-color-h3: $color-text;
        $font-size-h3: 1.25rem;
        $font-weight-h3: 300;
        $line-height-h3: 1.5;
        $margin-h3: 0 0 0 .7rem 0;
        $letter-spacing-h3: -.025rem;

        $font-color-h4: $color-text;
        $font-size-h4: 1.1rem;
        $font-weight-h4: 300;
        $line-height-h4: 1.2;
        $margin-h4: 0 0 0 .7rem 0;
        $letter-spacing-h4: -.025rem;

        $font-color-h5: $color-text;
        $font-size-h5: 1rem;
        $font-weight-h5: 300;
        $line-height-h5: 1.5;
        $margin-h5: 0 0 0 .7rem 0;
        $letter-spacing-h5: -.025rem;

        $font-color-h6: $color-text;
        $font-size-h6: .87rem;
        $font-weight-h6: 300;
        $line-height-h6: 1.2;
        $margin-h6: 0 0 0 .7rem 0;
        $letter-spacing-h6: -.025rem;

// ---------- DEFAULT SPECIFICATIONS ---------------------

    body {
        font-family: $font-1;
        font-size: $font-size-default;
        font-weight: $font-weight-default;
        line-height: $line-height-default;
        color: $font-color-default;
    }


    h1, .h1 {
        font-family: $font-2;
        color: $font-color-h1;
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        line-height: $line-height-h1;
        margin: $margin-h1;
        letter-spacing: $letter-spacing-h1;
    }
    h1, .h1 {
        font-family: $font-2;
        color: $font-color-h1;
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        line-height: $line-height-h1;
        margin: $margin-h1;
        letter-spacing: $letter-spacing-h1;
    }
    h1, .h1 {
        font-family: $font-2;
        color: $font-color-h1;
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        line-height: $line-height-h1;
        margin: $margin-h1;
        letter-spacing: $letter-spacing-h1;
    }
    h1, .h1 {
        font-family: $font-2;
        color: $font-color-h1;
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        line-height: $line-height-h1;
        margin: $margin-h1;
        letter-spacing: $letter-spacing-h1;
    }
