@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

// ---------- FONTS VARIABLES ----------------------

    // _____________ PARAGRAPHS _______________

        $font-1: 'Merriweather', georgia, serif;
        $font-color-default: $color-text;
        $font-size-default: 1.1em;
        $font-weight-default: 300;
        $line-height-default: 1.65;

    // _____________ HEADERS _______________

        $font-2: 'Source Sans Pro', Helvetica, sans-serif;

        $font-color-h1: $color-text;
        $font-size-h1: 2.5rem;
        $font-weight-h1: 300;
        $line-height-h1: 1.2;
        $margin-h1: 0 0 0 .7rem 0;
        $letter-spacing-h1: -.025rem;

        $font-color-h2: $color-text;
        $font-size-h2: 1.5rem;
        $font-weight-h2: 300;
        $line-height-h2: 1.5;
        $margin-h2: 0 0 0 .7rem 0;
        $letter-spacing-h2: -.025rem;

        $font-color-h3: $color-text;
        $font-size-h3: 1.25rem;
        $font-weight-h3: 300;
        $line-height-h3: 1.5;
        $margin-h3: 0 0 0 .7rem 0;
        $letter-spacing-h3: -.025rem;

        $font-color-h4: $color-text;
        $font-size-h4: 1.1rem;
        $font-weight-h4: 300;
        $line-height-h4: 1.2;
        $margin-h4: 0 0 0 .7rem 0;
        $letter-spacing-h4: -.025rem;

        $font-color-h5: $color-text;
        $font-size-h5: 1rem;
        $font-weight-h5: 300;
        $line-height-h5: 1.5;
        $margin-h5: 0 0 0 .7rem 0;
        $letter-spacing-h5: -.025rem;

        $font-color-h6: $color-text;
        $font-size-h6: .87rem;
        $font-weight-h6: 300;
        $line-height-h6: 1.2;
        $margin-h6: 0 0 0 .7rem 0;
        $letter-spacing-h6: -.025rem;

    // __________ SUBTITLES __________________
       
        $font-italic: italic;

    // _______________ LINKS __________________

        $link-color: $color-text;
        $link-decoration:underline dotted;

        $link-hover-color: $color-text;
        $link-hover-decoration: none;
    
    // __________ CODE ________________________

        $code-color: $color-neutral-3;
        $code-background: $color-neutral-2;
        $code-padding: .3em;
        $code-border: lighten($color-neutral-3, 45%) 2px solid;
        $code-border-radius: $border-radius-default;

    // ______________ HR _______________________

        $hr-height: 1px;
        $hr-color: $color-neutral-3;
        $hr-margin: 3rem 0;

    
    // ___________ ICONS ___________________

        $icons-border: lighten($color-neutral-3, 40%) 2px solid;
        $icons-border-radius: $border-radius-specify;
        $icons-background: $color-neutral-2;

    
    // ___________ BLOCKQUOTE ___________________

        $line-height-blockquote: 2.5;

    // ___________ BUTTON __________________________

        $hover-color: $color-1;
    
    // _______________PERFORMATTED_________________



// ---------- DEFAULT SPECIFICATIONS ---------------------

    body {
        font-family: $font-1;
        font-size: $font-size-default;
        font-weight: $font-weight-default;
        line-height: $line-height-default;
        color: $font-color-default;
    }
       

    // LINKS__________________
    a {
        color: $link-color;
        text-decoration: $link-decoration;
        padding: .5rem;
        &:hover {
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }

    }

    // HR______________________
    hr {
        height: $hr-height;
        background: $hr-color;
        border: none;
        margin: $hr-margin;
    }

    // CODE_______________________
    code {
        color: $code-color;
        background: $code-background;
        padding: $code-padding;
        border: $code-border;
    }


    // LISTS______________________
    ul, ol {
        padding: 20px;
        
    }
    li {
        padding-left: .5rem;
    }




    // ICONS_______________________
    .iconsBorder {
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 6px;
        border: $icons-border;
        border-radius: $icons-border-radius;
        &:hover {
            border: $hover-color 2px solid;
            color: $hover-color;
        }
    }
    .iconsLight {
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        padding-top: 4px;
        &:hover {
            color: $hover-color;
        }
    }
    

    // BLOCKQUOTE__________________
    blockquote {
        font-style: $font-italic;
        border-left: lighten($color-neutral-3, 40%) 4px solid;
        margin: 18px 0;
        padding-left: 40px;
        line-height: $line-height-blockquote;
    }

    // PERFORMATTED________________
    pre {
        color: $code-color;
        background: $code-background;
        padding: $code-padding;
        border: $code-border;
    }
   
    // HEADERS_______________________
    h1, .h1 {
        font-family: $font-2;
        color: $font-color-h1;
        font-size: $font-size-h1;
        font-weight: $font-weight-h1;
        line-height: $line-height-h1;
        margin: $margin-h1;
        letter-spacing: $letter-spacing-h1;
    }
    h2, .h2 {
        font-family: $font-2;
        color: $font-color-h2;
        font-size: $font-size-h2;
        font-weight: $font-weight-h2;
        line-height: $line-height-h2;
        margin: $margin-h1;
        letter-spacing: $letter-spacing-h2;
    }
    h3, .h3 {
        font-family: $font-2;
        color: $font-color-h3;
        font-size: $font-size-h3;
        font-weight: $font-weight-h3;
        line-height: $line-height-h3;
        margin: $margin-h3;
        letter-spacing: $letter-spacing-h3;
    }
    h4, .h4 {
        font-family: $font-2;
        color: $font-color-h4;
        font-size: $font-size-h4;
        font-weight: $font-weight-h4;
        line-height: $line-height-h4;
        margin: $margin-h4;
        letter-spacing: $letter-spacing-h4;
    }
    h5, .h5 {
        font-family: $font-2;
        color: $font-color-h5;
        font-size: $font-size-h5;
        font-weight: $font-weight-h5;
        line-height: $line-height-h5;
        margin: $margin-h5;
        letter-spacing: $letter-spacing-h5;
    }
    h6, .h6 {
        font-family: $font-2;
        color: $font-color-h6;
        font-size: $font-size-h6;
        font-weight: $font-weight-h6;
        line-height: $line-height-h6;
        margin: $margin-h6;
        letter-spacing: $letter-spacing-h6;
    }

    // SUBTITLES__________________________
    .sub-title1 {
        font-style: $font-italic;
        font-size: $font-size-h3;
    }
    .sub-title2 {
        font-style: $font-italic;
        font-size: $font-size-h4;
    }
    .sub-title3 {
        font-style: $font-italic;
        font-size: $font-size-h5;
    }

    // FOOTER_____________________
    footer {
        font-family: $font-2;
        color: $color-neutral-3;
        font-size: $font-size-h6;
        span {
            word-spacing: 1rem;
        }
        li {
            display: block;
        }
        a {
            color: $color-neutral-3;
            text-decoration: $link-decoration;
            &:hover {
                color: $hover-color;
                text-decoration: $link-hover-decoration;
            }    
        }
    }
   