@import './stephalizeCss/index.scss';
@import './../lib/fontawesome/scss/fontawesome.scss';
@import './../lib/fontawesome/scss/brands.scss';
@import './../lib/fontawesome/scss/solid.scss';
@import './../lib/fontawesome/scss/regular.scss';






// ---------------- HELPERS ------------------

body {
    background: radial-gradient(at top, $color-2, $color-text);
}
.backgroundMenu {
    background: radial-gradient(at top, $color-2, $color-neutral-3);
}
.isActive {
    font-family: $font-2;
    color: $color-text;
    background: $color-neutral-1;
    text-decoration: none;
    &:hover {
        color: $hover-color;
    }
}
.dInline {
    display: inline-block;
}
.backgroundLight {
    background: $color-neutral-1;
}
.backgroundMedium {
    background: $color-neutral-2;
}



// ------------ HEADER ----------------------
    
        .siteHeader {
            padding-top: 2rem;
            
            .title1 {
                font-family: $font-2;
                color: $color-neutral-1;
                border: $color-neutral-1 5px solid;
                padding: 5px;
                width: 200px;
                text-indent: 10px;
            }
            .mainNav {
                display: none;
                @media screen and (min-width: 768px) {
                    display: block;
                }
                .menuList {
                    list-style: none;
                    display: inline-block;
                    font-family: $font-2;
                    .itemLink {
                        color: $color-neutral-1;
                        text-decoration: none;
                        &:hover {
                            color: $hover-color;
                        }
                    }        
                }
                    .listItem {
                        @media screen and (min-width: 768px) {
                        display: inline-block;
                        list-style: none;   
                        }
                    }
                }
            }

    // _____________ MENU HAMBURGER _____________

    #hamburgerLabel {
        display: block;
        font-size: 4rem;
        &::before {
            content: '\f0c9';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }
        &:hover {
            cursor: pointer;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
        
    }
    #hamburgerCheckbox {
        display: none;
        &:checked {
            ~ nav {
                display: block;
            }
            + #hamburgerLabel::before {
                content: '\f00d';
            }
        }
    }


// ----------------- MAIN HEADER ---------------------

    .mainHeader {
        padding: 7em;
    }

// ----------------- MAIN CONTENT ---------------------

    

// ----------------- MAIN FOOTER ---------------------



// ----------------- FOOTER ---------------------

    .siteFooter {
        margin: 100px;
    }